.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-details {
  flex: 2;
  color: #0000;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #002772;
}

.product-details h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #002772;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.product-info-item {
  margin-bottom: 10px;
}

.product-info-item span.label {
  font-weight: bold;
  color: #666;
}

.rating-label {
  margin-left: 10px;
}

.rating-value {
  color: #007bff;
}

.divider {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.button-container {
  display: flex;
  align-items: center;
}

.spacer {
  width: 15px;
}

.buy-now {
  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  background-color: #720060;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-slide {
  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  color: #720060;
  border: none;
  background: #ffffff;
  transition: background-color 0.3s;
  font-weight: bold;
  border: 2px solid #720060;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-slide:hover {
  background-color: #d6e6ff !important;
}

.empty-product {
  text-align: center;
  padding: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666;
  max-width: 800px; /* Add this line to set the max-width */
  margin: 0 auto; /* Center the element horizontally */
}
